* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*      HIDE THE ARROWS FROM INPUT TYPE NUMBER  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
/*      HIDE THE ARROWS FROM INPUT TYPE NUMBER  */

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    /* border: 5px red solid; */
}

/*    ###################################      Header */
#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px hsl(220, 14%, 75%) solid;
}

.logo {
    margin: 0 20px;
    padding: 40px 0;
    transition: all 0.2s linear;
}

.header-div-1 {
    display: flex;
}

.list-1 {
    display: flex;
}

.list-2 {
    display: flex;
}

.list-item {
    margin-left: 30px;
    padding: 40px 0;
    transition: all 0.2s linear;
}
.list-item:hover {
    border-bottom: 5px hsl(26, 100%, 55%) solid;
    padding: 37px 0;
    color: black;
}

.list-item a {
    color: hsl(219, 9%, 45%);
}
.list-item a:hover {
    color: black;
}

.avatar-picture {
    height: 50px;
    width: 50px;

    border-radius: 50%;
    transition: all ;
    overflow: hidden;

    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 2px;
}

.avatar-picture:hover {
    border: hsl(26, 100%, 55%) 2px solid;
    padding: 0;
}

/* ####################################################################### */
.cart {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 0 20px;

    position: relative;
}

.cart:hover .cart2 {
    visibility: visible;
}

.cart2 {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    height: 200px;
    width: 400px;
    
    position: absolute;
    top: 65px;
    left: -185px;

    visibility: hidden;
    transition: all 0.3s linear;
    padding: 10px 20px;
}

.cart-title {
    border-bottom: 2px rgba(0, 0, 0, 0.6) solid;
    line-height: 2.2;
}
/* ####################################################################### */

/* Wraps the whole section */
.body-section {         
    padding: 50px;
    display: flex;
}

/* Wraps the whole div witch contains all images*/
.item-images {
    width: 400px;
}

.selected-image {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* wraps the div witch contains all the small images */
.small-images {
    display: flex;
    justify-content: space-between;
}

.small-img {
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.small-img:hover {
    opacity: 0.8;
}

.current-img {
    border: 3px hsl(26, 100%, 55%) solid;
    background: white;
    opacity: 0.8;
}

/* Sneakers Details */
.item-details {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.orange {
    color:hsl(26, 100%, 55%);
}

.gray {
    color: rgba(51, 51, 51, 0.623);
}

.sneaker-company {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sneakers-title {
    font-size: 35px;
}

/* Price details */
.new-price {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-left: 0%;
}

.disscount {
    background-color: rgba(51, 51, 51, 0.1);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.old-price {
    text-decoration: line-through;
}

/* Quantity Details */
.minus,
.plus {
    padding: 5px 15px;
    background-color: rgba(51, 51, 51, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.minus:hover,
.plus:hover {
    opacity: 0.8;
}

.minus:active,
.plus:active {
    background-color: rgba(51, 51, 51, 0.4);
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    font-size: 20px;
}

.add-to-cart-btn {
    color: white;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20px;
}

.add-to-cart-btn:hover {
    opacity: 0.8;
}

.add-to-cart-btn:active {
    opacity: 1;
    background-color: hsl(26, 97%, 53%);
}

.fa-shopping-cart {
    margin-right: 5px;
}

/* ############################################# */
/* All items from cart */
.cart-item-list {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.cart-item-list img { 
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.priceXquantity-container {
    font-size: 17px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.623);

    display: flex;
    flex-direction: column;
}

.item-bought {
    font-size: 15px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.623);
    margin-bottom: 5px;
}

.item-bought + div {
    display: flex;
    flex-direction: row;
}

.price + span,
.total {
    margin: 0 7px;
}

.total {
    color: black;
}

.fa-trash {
    font-size: 20px;
    color: rgba(51, 51, 51, 0.623);
}

.check-out-btn {
    height: 35px;
    width: 100%;
    background-color: hsl(26, 97%, 53%);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.check-out-btn:hover {
    opacity: 0.8;
}

.check-out-btn:active {
    opacity: 1;
    background-color: hsl(26, 97%, 53%);
}

.cart-items {
    display: none;
}

/* LIGHT BOX EFFECT, cand dai click pe o imagine, ea apare in mijlocul ecranului */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-height: 80%;
    max-width: 90%;
    border: 2px white solid;
}